/* bandeiras */

.horizontal{
    width: 500px;
    height: 80px;
    margin-top: 100px; 
    position: absolute;
}

.vertical{
    width: 80px;
    height: 300px;
    float: left;
    margin-left:100px;
    position: relative;
}

.cor{
    background: rgb(38, 0, 128);
}

.corRed{
    background: red;
}

.corBlack{
    background: black;
}

.corYellow{
    background: yellow;
}

.container{
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
}

.row{
    margin: 0 -15px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.circuloJapao{
    width: 150px;
    height: 150px;
    margin: 70px auto;
    border-radius: 100px;
}

.bordaBandeira{
    width: 500px;
    height: 300px;
    border:2px solid black;
}