/* POKEDEX */

body{
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 60px; 
    color: black;
}


.campoId{
    margin: 30px 0 ;
}

.margin-left{
    margin-left:100px; 
}

.dadosPokemon{
    width: 500px;
    height: 600px;
    float: left;
    position: relative;
    border: 40px solid #6D060A;
    border-radius: 15px;
    box-sizing: border-box;
    background: #E21D24;
}
.border-left{
    border-left: 20px solid #D8080F;
}

.border-right{
    border-right: 20px solid #D8080F;
}
.text-center{
    text-align: center;
}

.row{
    margin: 0 0px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

h1{
    color: #070093;
    font-size: 30px;
    line-height: 34px;
}

.foto{
    width: 200px;
    height: 200px;
    margin: auto auto;
    border: 4px solid #bbb;
    margin-top:40px; 
    box-sizing: border-box;
    background: #111;
}

#foto{
    width: 100%;
}

.negrito{
    padding-left:10px; 
    font-weight: bold;
    line-height: 30px;
}
.lista li{
    list-style: none;
}

.camera{
    width: 60px;
    height: 60px;
    border: 4px solid #bbb;
    border-radius: 25px;
    background: #070093;
    display: block;
    float: left;
    margin:15px 0 15px 15px; 
}

.sinalizador{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    display: block;
    float: left;
    margin:15px 0 15px 15px; 
}

.vermelho{

    background: #FF1E1E;
}

.amarelo{
    background: yellow;
}

.verde{
    background: green;
}