.nav{
    background: #730000;
    width: 100%;
    height: 70px; 
}

label{
    color: #aaa;
    text-decoration: none; 
}

.logo{
    padding: 10px 0 0 10px;
    font-family: monospace;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

ul{
    padding: 0 0;
    margin: 0 0;
    list-style: none;
}

li, 
a {
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
    color: #ddd;
    text-decoration: none;
}

.text-center{
    text-align: center;
    color: #fff;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.row{
    margin: 0 0;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.Button{
    display: inline-block;

    margin: 10px 10px 0px;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.1);
}

.button-blue{
    background: #0f7afd;
}

