/* HOME */

.geral{
    margin: 100px 60px;

}

.botoesHome{
    width: 60%;
    margin: auto auto;
    text-align: center;
}

.botoesHome button{
    display: inline-block;

    margin: 15px 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.1);
}

.button-blue{
    background: #0f7afd;
}


.float-left{
    float: left;
}

.text-center{
    text-align: center;
}

.containerTotal{
    width: 100%;
    border: 10px solid black;
    box-sizing: border-box;
}

