/* INICIO */

.titulo{
    color: black;
    font-size: 40px;
    margin: 0 0
}

.text-center{
    text-align: center;
}
body{
    background: #111;
    width: 100%;
    height: 100%;
    color: #ccc
}