.container{
    width: 100%;
}
.logo{
    width: 200px;
    height: 100px;
    padding: 0 0 ;
    margin: 0 0;
}

img{
    width: 100%;
}

nav{
    width: 100%;
    background: #ccc;
}

ul, a {
    padding: 0 0;
    margin: 0 0;
    text-decoration: none;
}

li, a {
    display: inline-block;
    padding: 12px 20px 0 0;
    font-size: 25px;
    color: rgb(51, 51, 204);
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.row{
    margin: 0 0;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}


