/*Geral*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}

@media (max-width: 600){
    body {
        font-size: 14px;
        line-height: 18px;
    }
}

.color-fundo{
    opacity: 0.9;
    background: -moz-linear-gradient(0deg,  #00d4ff 0%, #090979 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(0deg,  #00d4ff 0%,#090979 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(0deg,  #00d4ff 0%,#090979 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.opaciN{
    opacity: none;
}

hr{
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px dashed #090979;
}

a,
button,
input,
textarea{
    outline: none;
}

a{
	padding: 20px 30px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial;
	font-size: 20px;
	color: white;
}

.title{
    color: purple;
}

.text-center{
	text-align: center;
}

.row{
    margin: 0 -15px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:15px;
    box-sizing: border-box;
}


.table,
.table-cell{
    width: 100%;
    height: 100%;
}

.table {
    display: table;
}

.table-cell{
    display: table-cell;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.coluna-25{
    width: 25%;
}

h1, 
h2,
h3,
h4,
p{
    margin: 0 0 15px;
}

h2{
    font-size: 24px;
    line-height: 30px;
}

h3{
    font-size: 20px;
    line-height: 24px;
}

h4{
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 600){
    h2{
        font-size: 20px;
        line-height: 24px;
    }
    
    h3{
        font-size: 16px;
        line-height: 20px;
    }
    
    h4{
        font-size: 14px;
        line-height: 18px;
    }
}