/*MENU*/

.menu{
	width: 100%;
	padding: 20px 0;
}

.menu ul{
	padding: 0;
	margin: 0;

}

.menu li{
	display: inline-block;
	padding: 0;
	border-left:3px solid #EDEDED;
}

.menu .border-right{
	border-right: 3px solid #EDEDED;
}

.menu a:hover {
  	background: #0010A5;
  	border-radius: 4px;
  	box-sizing: border-box;
}