/* Solution */

.article-list{
    padding: 0 0;
    margin: 40px 0 0;
    list-style: none; 
}

.article-list li{
    margin-bottom: 30px;
}

.article-list article{
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: transform 0.3s ease-in-out 0s;
}

.article-list article:hover{
    transform: scale(1.1);
}

.article-list h4{
    margin-top: 15px;
}

.decoracao{
    border-style: inset;
}

.article-list p{
    min-height: 160px;
}