/* Artigos */

.artigo{
    font-size: 15px;
    line-height: 18px;
    width: 20%;
    padding: 15px 10px;
    margin: 10px 20px;
    position: relative;
    box-sizing: border-box;
}

.artigo-50{
    width: 45%;
}

.artigo h2 {
    padding: 0;
    margin: 0;
}

.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80px;
}

.margin-vinte{
    margin: 0 20px;
}