/* Contact */

.map-sor{
    width: 100%;
    height: 630px;
    border-radius: 4px;
    border: none;
}

@media (max-width: 479px){
    .map-sor{
        margin: 0 0;
        border-radius: 0;
        height: 100vh; 
    }
}