/* section */

section {
    padding-top: 60px;
    padding-bottom: 60px; 
}

@media (max-width: 600px) {
    section {
        padding-top: 30px;
        padding-bottom: 30px; 
    }
}

.row{
    margin: 0 -15px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.col{
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-sm-100{
    width: 100%;
}

.col-sm-75{
    width: 75%;
}

.col-sm-50{
    width: 50%;
}

.col-sm-25{
    width: 25%;
}


.col-sm-30{
    width: 30%;
}

.col-sm-60{
    width: 60%;
}

.col-sm-40{
    width: 40%;
}

.container{
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:15px;
    box-sizing: border-box;
}

.article-image{
    margin: 0 15px 10px 0;
}

.mapa{
    width: 100%;
    height: 357px; 
}

.container-4artigo{
    width: 80%;
}

@media (min-width: 480px) {
    .col-md-100{
        width: 100%;
    }

    .col-md-75{
        width: 75%;
    }
    
    .col-md-50{
        width: 50%;
    }
    
    .col-md-25{
        width: 25%;
    }
}

@media (min-width: 900px) {
    .col-lg-100{
        width: 100%;
    }

    .col-lg-75{
        width: 75%;
    }
    
    .col-lg-50{
        width: 50%;
    }
    
    .col-lg-25{
        width: 25%;
    }
}

.hide{
    display: none;
}

@media (max-width: 479px) {
    .show-on-sm {
        display: block;
    }
}

@media (min-width: 480px) and (max-width: 899px) {
    .show-on-md {
        display: block;
    }
}

@media (min-width: 900px) {
    .show-on-lg {
        display: block;
    }
}